body {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,141,142,0.23301820728291311) 0%, rgba(0,212,255,1) 100%);
}

.btn-pink {
    color: #e84194;
    border-color: #e84194;
}
.btn-pink:hover {
    background-color: #e84194;
    color: white;
}

.form-label:not(label[for="maturity"]):after {
    content: " *";
    color: red;
}

#star {
    color: red;
}